<h1>Login</h1>
<form action="/login" method="post" autocomplete="off">
    <div class="form-group">
        <label for="nombre">Ingrese su nombre</label>
        <input id="nombre" class="form-control" type="text" name="nombre" required>
    </div>
    <button class="btn btn-success mt-3">Enviar</button>
</form>