<h1>Centro de mensajes</h1>
<form onsubmit="return addMessage(this)">
    <input type="text" id="username" placeholder="Su nombre" class="form-control">
    <hr>
    <div id="messages"></div>
    <br>
    <input type="text" id="message" placeholder="Su mensaje" >
    <input type="submit" value="Enviar" class="btn btn-primary">
</form>
<hr>